<div class="card">
  <div class="card-header">
    <h1>Редактирование жанра</h1>
  </div>
  <div class="card-body">
    <%= render 'form', genre: @genre %>
  </div>
  <div class="card-footer">
    <%= link_to 'Подробнее', @genre %> |
    <%= link_to 'Назад', genres_path %>
  </div>
</div>