<div class="jumbotron">
  <%= simple_form_for :user, defaults: { input_html: { class: 'form-horizontal' } } do |form| %>
    <%= form.input :email %>
    <%= form.input :password %>
    <%= form.button :submit %>
  <% end %>
  <hr>
    <a href='/auth/vkontakte'>Sign in with VKontakte</a>
</div>