<div class="container-fluid">
  <div class="row" style="background: purple">
    <div class="col-sm-1">
      asd
    </div>
    <div class="col-sm-1">
      asd
    </div>
    <div class="col-sm-1">
      asd
    </div>
    <div class="col-sm-2">
      asd
    </div>
    <div class="col-sm-2">
      asd
    </div>
    <div class="col-sm-2">
      asd
    </div>
    <div class="col-sm-1">
      asd
    </div>
    <div class="col-sm-1">
      asd
    </div>
    <div class="col-sm-1">
      asd
    </div>
  </div>
</div>