<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">
            Взахлёб – это десятки захватывающих историй в форме чата.
          </h1>

          <h2 class="mb-5">Загляните в переписку героев и узнайте, кого они любят, кому хотят отомстить и чего боятся.</h2>
          <a href="https://play.google.com/store/apps/details?id=zahleb.me" class="btn btn-outline btn-xl js-scroll-trigger">Google Play</a>
          <a href="https://itunes.apple.com/ru/app/id1220327765" class="btn btn-outline btn-xl js-scroll-trigger">Itunes</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="https://lh3.googleusercontent.com/BCgMLLO6GvqU7C5sR8XvuBi6f79Euk4C9Bnvwozv6SaVmFhZjomOm_FXUN8sKlWxBPQ=h900" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="contact bg-primary" id="contact">
  <div class="container">
    <h5>
      В приложении вы обязательно найдёте свой любимый жанр – мы рассказываем мистические и фантастические истории, ужастики, истории о любви, детективы и многое другое.
    </h5>
    <!--<ul class="list-inline list-social">-->
      <!--<li class="list-inline-item social-twitter">-->
        <!--<a href="#">-->
          <!--<i class="fa fa-twitter"></i>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="list-inline-item social-facebook">-->
        <!--<a href="#">-->
          <!--<i class="fa fa-facebook"></i>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="list-inline-item social-google-plus">-->
        <!--<a href="#">-->
          <!--<i class="fa fa-google-plus"></i>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</section>

