<div class="card">
  <div class="card-header">
    <h1>Редактирование истории</h1>
  </div>
  <div class="card-body">
    <%= render 'studios/form', story: @story %>
  </div>
  <div class="card-footer">
    <%= link_to 'Подробнее', @story %> |
    <%= link_to 'Назад', stories_path %>
  </div>
</div>