<div class="card">
  <div class="card-header">
    <h1>Новая история</h1>
  </div>
  <div class="card-body">
    <%= render 'form', story: @story %>
  </div>
  <div class="card-footer">
    <%= link_to 'Назад', "/studios" %>
  </div>
</div>